<p style="color: green"><%= notice %></p>

<h1>Survivors</h1>

<div id="survivors">
  <% @survivors.each do |survivor| %>
    <%= render survivor %>
    <p>
      <%= link_to "Show this survivor", survivor %>
    </p>
  <% end %>
</div>

<%= link_to "New survivor", new_survivor_path %>
